[vcseedftp]
FTP_PUSH = yes
USE_HOOK = no
FIND_TZ  =
FOR_MERGE =
BR_NAME =

[lftp]
HOST = host.somewhere.net
USER = someone
PASS = secrete
LCD  = /tmp//tmp.f62d9369
RCD  = /www/
EXCL =  \.svn
	README\.txt
	shopping/log/
